#### Jupyter Lab Documentation

Find the Jupyter Lab Docs [here]("https://jupyterlab.readthedocs.io/en/stable/")

Welcome to Jupyter Lab; this will be a brief tutorial exploring some of the Jupyter Lab features. The cheat sheet below is for Jupyter Notebooks, but many features carry over in Jupyter Lab. This is a Markdown cell, and if you double click it, you can see how I imported the image below.

![Jupyter Cheatsheet](img/Jupyter_Notebook_Cheat_Sheet.jpg)

We will also cover the basics of Python, including strings, functions, loops, conditionals.

Feel free to adjust any code in this notebook to get a better understanding of what is happening.

Here are the [Python Docs](https://docs.python.org/3/).

![Python Cheatsheet](img/PythonForDataScience.jpg)

### We can use ! to make terminal commands

In [1]:
# check version
!python --version

Python 3.7.4

In [2]:
# List files in current working directory
!ls

1_1_python.ipynb                 Jupyter_Notebook_Cheat_Sheet.jpg
1_2_python.ipynb                 PythonForDataScience.jpg

In [3]:
# Print working directory
!pwd

/Users/mph/CD/Curriculum/Python/intro_to_python/day_01

### Math with Python

In [4]:
# Positive Number
1

1

In [5]:
# Negative Number
-1

-1

In [6]:
# Add
1+1

2

In [7]:
# Divide
4/2

2.0

In [8]:
# Multiply
2*2

4

In [9]:
# Floor Division
5//2

2

In [10]:
# Modulo Operator (Returns Remainder)
5%2

1

In [11]:
# Exponents 3^3
3**3

27

### Order of Operations

Order of operations also called operate precedence. It is the order that an operator is executed. In Python language, the following levels of operate precedence is applied from the highest to lowest operate precedence.

In order of highest precedence to lowest precedence:
1. Parentheses ()
2. Exponentiation **
3. Negative, Postive -,+
4. Multiplication, Division, Floor Division *, /, //
5. Addition, Subtraction +, -

In [12]:
# What is the result of this equation?
1+1*2

3

In [13]:
# What is the result of this equation?
3*(-5+4)

-3

In [14]:
# What is the result of this equation?
1+(4+5)**2

82

In [15]:
# What is the result of this equation?
5//2**(3*2-4)*2

2

### Logical Operators

In regards to order of operations, logical operators happen after all arithmatic operators have been performed

In [16]:
# Greater than
1>0

True

In [17]:
# Less than
0<1

True

In [18]:
# Greater than or equal to
5>=5

True

In [19]:
5>=4

True

In [20]:
# Less than or equal to
4<=4

True

In [21]:
4<=5

True

In [22]:
# Equal to
4==4

True

In [23]:
3==4

False

In [24]:
# Not equal to
5!=3

True

In [25]:
5!=4

True

In [26]:
# Is this result true or false?
3%2*(5+4) < 9

False

In [27]:
# Is this result true or false
5*2+(-6+4) == 8

True

### Strings

[String Documentation](https://docs.python.org/3/library/stdtypes.html#string-methods)

Strings are any characters contained in between single, double, or triple quotes.

They are of the `str` type meaning string

In [28]:
# Using double quotes to make a string
"Hello World 1"

'Hello World 1'

In [29]:
# Using single quotes to make a string
'Helo World 2'

'Helo World 2'

In [30]:
# Triple Quotes to make a multiline string. the "\n" just means that 
# a new line will occur if printed
"""
Hello
World
3
"""

'\nHello\nWorld\n3\n'

In [31]:
# Single quotes allow for embedded double quotes
'Double " " Quotes '

'Double " " Quotes '

In [32]:
# Double quotes allow for embedded single quotes
"Single ' ' Quotes"

"Single ' ' Quotes"

In [33]:
# Printing strings
print("Hello World")

Hello World

In [34]:
# Printing multiple strings
print("Hello", 'World')

Hello World

In [35]:
# What other methods are available to strings? Ignore the double underscore methods for now
# We can use dir to see what is available to us
dir("Hello World")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [36]:
# Lets try the first method without double underscores
"hello world".capitalize()

'Hello world'

In [37]:
# What does the third one do? We can find out using the help and the using the type name

# Notice we dont call the function with parentheses at the end 
# like we normally would with methods

help(str.center)

Help on method_descriptor:

center(self, width, fillchar=' ', /)
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

### Variables

Variables are created the moment you first assign a value to it. Variables do not need to be declared with any particular type (string, double, int, etc.). They can even change after assignment

In [38]:
# Assigning variables and printing the variable names
x = "Hello"
y = "World"
z = 8

print(x, y, z)

Hello World 8

In [39]:
# We can also add string together
print(x+y)

HelloWorld

In [40]:
# We can use string and variables together
print(x + " " + y)

Hello World

In [41]:
# We can multiply strings too
x*z

'HelloHelloHelloHelloHelloHelloHelloHello'

#### Formatting Strings

Variables make it easier for us to format our strings

In [42]:
# We can format our strings
print(f"When learning a new programming language you should always type '{x} {y}'")

When learning a new programming language you should always type 'Hello World'

In [43]:
# We can also format like this
print("When learning a new programming language you should always type '{} {}'".format(x, y))

When learning a new programming language you should always type 'Hello World'

In [44]:
# And we can format like this
print("When learning a new programming language you should always type '%s %s'" % (x,y))

When learning a new programming language you should always type 'Hello World'

### If Statements

[If Docs](https://docs.python.org/3/tutorial/controlflow.html#if-statements)

- `if` statements are used for conditional statements
- Use `elif` in-between your `if` and `else` statements if multiple conditionals need to be tested
- Use `else` at the end of your statement if none of your conditionals are met

In [45]:
if x == "hello":
    print(x)
elif x == "HELLO":
    print(x)
else:
    print("x does not equal hello")

x does not equal hello

### Loops

[Loops Docs](https://docs.python.org/3/tutorial/controlflow.html#for-statements)

The for statement in Python differs a bit from what you may be used to in C or Pascal. Rather than always iterating over an arithmetic progression of numbers (like in Pascal), or giving the user the ability to define both the iteration step and halting condition (as C), Pythonâ€™s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence. For example (no pun intended):

In [46]:
# Iterate over every letter in the string and print it
for letter in x:
    print(letter)

H
e
l
l
o

### Data Types

We can use the `type()` funtion to tell us what type a variable is

Python has a variety of different types:

- [Strings](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str): Anything between quotes
- [Integer](https://docs.python.org/3/library/functions.html#int): A non decimal number
- [Floats](https://docs.python.org/3/library/functions.html#float): A decimal number
- [Lists](https://docs.python.org/3/library/stdtypes.html?highlight=lists#list): **Zero Indexed**. Lists are mutable sequences, typically used to store collections of homogeneous items (where the precise degree of similarity will vary by application).
- [Dictionaries](https://docs.python.org/3/library/stdtypes.html#dict): `key:values` pairs
- [Set](https://docs.python.org/3/library/stdtypes.html#set): Unordered collection of distinct objects
- [Tuples](https://docs.python.org/3/library/stdtypes.html#tuple): Immutable sequences
- [Booleans](https://docs.python.org/3/library/functions.html#bool): `True` or `False`

In [47]:
# Whats the type?
type(0)

int

In [48]:
# Create different data types
a = "Hello World"
b = 1
c = 1.0
e = list() # or use []
d = dict() # or use {}
f = set()
g = tuple() # or use ()
h = True

# Create a dicitonary of key value pairs to hold labels and variables
type_d = {
    "a":a,
    "b":b,
    "c":c,
    "d":d,
    "e":e,
    "f":f,
    "g":g,
    "h":h
}

# Iterate over the dictionary and print the label name and type of the variable
for x, y in type_d.items():
    
    # Print a formatted string and slice into the string to extract only the needed parts
    print(f"The variable {x} is of type {str(type(y))[6:][:-1]}")

The variable a is of type  'str'
The variable b is of type  'int'
The variable c is of type  'float'
The variable d is of type  'dict'
The variable e is of type  'list'
The variable f is of type  'set'
The variable g is of type  'tuple'
The variable h is of type  'bool'

#### Lists

In [49]:
# An empty list
l = []

In [50]:
# Add some values to the list
l.append(3)
l.append("Hello")
l.append([1,2,3]) # Add a list in to your list

l

[3, 'Hello', [1, 2, 3]]

In [51]:
# Length of l
len(l)

3

In [52]:
# Grab the first element
l[0]

3

In [53]:
#Grab last element
l[2]

[1, 2, 3]

In [54]:
# loop over the list
for element in range(len(l)):
    print(l[element])

3
Hello
[1, 2, 3]

In [55]:
# List comprehension

[x*5 for x in l] # 3*15, hello*5, [1,2,3]*5

[15,
 'HelloHelloHelloHelloHello',
 [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]]

#### Dictionaries

In [56]:
# An empty dictionary
d = {}

In [57]:
# Add some new key values to your dictionary

d["Hello"] = "World"
d["Orange"] = "Juice"
d[123] = l # add out list from earlier to the dictionary
d["dict"] = {1:2, "hi":"bye"} # add a dictionary to our dictionary
d

{'Hello': 'World',
 'Orange': 'Juice',
 123: [3, 'Hello', [1, 2, 3]],
 'dict': {1: 2, 'hi': 'bye'}}

In [58]:
# Access an element in you dictionary
d["Orange"]

'Juice'

In [59]:
# Look at length of your dictionary
len(d)

4

In [60]:
# Look at only the keys
d.keys()

dict_keys(['Hello', 'Orange', 123, 'dict'])

In [61]:
# Look at values only
d.values()

dict_values(['World', 'Juice', [3, 'Hello', [1, 2, 3]], {1: 2, 'hi': 'bye'}])

In [62]:
#Pull out all key value pairs into a list of tuples
d.items()

dict_items([('Hello', 'World'), ('Orange', 'Juice'), (123, [3, 'Hello', [1, 2, 3]]), ('dict', {1: 2, 'hi': 'bye'})])

In [63]:
# Loop over dictionary
for key, value in d.items():
    print(f"This is the key: {key}, This is the value: {value}")

This is the key: Hello, This is the value: World
This is the key: Orange, This is the value: Juice
This is the key: 123, This is the value: [3, 'Hello', [1, 2, 3]]
This is the key: dict, This is the value: {1: 2, 'hi': 'bye'}

In [64]:
# Dictionary Comprehension
{f"{x}_key":f"{x+0.0}_value" for x in range(10)}

{'0_key': '0.0_value',
 '1_key': '1.0_value',
 '2_key': '2.0_value',
 '3_key': '3.0_value',
 '4_key': '4.0_value',
 '5_key': '5.0_value',
 '6_key': '6.0_value',
 '7_key': '7.0_value',
 '8_key': '8.0_value',
 '9_key': '9.0_value'}