## Sara Aldubaie

In [1]:
import requests
import pandas as pd

In [2]:
# API Address with parameters set
PATH_API = 'https://docs.openaq.org/v1/locations?limit=100&page=1&offset=0&sort=desc&radius=1000&country_id=SA&order_by=lastUpdated&dumpRaw=false'

# Make a GET request
r = requests.get(PATH_API)

# Put the data into a pandas DataFrame
df = pd.DataFrame(r.json()["results"])
df

,id,country,city,cities,location,locations,sourceName,sourceNames,sourceType,sourceTypes,coordinates,firstUpdated,lastUpdated,parameters,countsByMeasurement,count
0,8688,SA,N/A,[N/A],Dhahran,[Dhahran],AirNow,[AirNow],government,[government],"{'latitude': 26.276861, 'longitude': 50.147232}",2019-10-28T18:00:00Z,2021-05-30T15:00:00Z,[pm25],"[{'parameter': 'pm25', 'count': 29404}]",29404
1,7673,SA,N/A,[N/A],Jeddah,[Jeddah],AirNow,[AirNow],government,[government],"{'latitude': 21.543486, 'longitude': 39.172989}",2020-06-15T18:00:00Z,2021-02-18T13:00:00Z,[pm25],"[{'parameter': 'pm25', 'count': 9}]",9
2,6993,SA,Dharan,[Dharan],US Diplomatic Post: Dharan,[US Diplomatic Post: Dharan],StateAir_Dharan,[StateAir_Dharan],government,[government],"{'latitude': 26.304855, 'longitude': 50.154302}",2019-07-15T19:00:00Z,2019-07-16T18:00:00Z,[pm25],"[{'parameter': 'pm25', 'count': 72}]",72

In [3]:
print(df.location.unique())

# cities are: Dhahran, Jeddah, and US Diplomatic Post: Dharan
# but Dhahran is repeated twice, so at the end we only have two cities( Jeddah and Dhahran )

['Dhahran' 'Jeddah' 'US Diplomatic Post: Dharan']

In [4]:
df.shape

# we have 3 rows and 16 columns

(3, 16)